<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">Login Here</div>
        <div class="card-body">
            <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
              <div class="alert alert-danger" [hidden]="!error">{{ error }}</div>
                <div class="form-group">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" [(ngModel)]="form.email" required>
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                  <label for="exampleInputPassword1">Password</label>
                  <input type="password" name="password" class="form-control" id="exampleInputPassword1" [(ngModel)]="form.password" required>
                </div>
                <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">SignIn</button>
                <a routerLink="/signup" class="btn btn-primary float-right">SignUp</a>
            </form>
        </div>
    </div>
</div>